<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://t4.ftcdn.net/jpg/01/07/37/75/240_F_107377506_miF59ZXXmAWZfIWxLvzVPACrq9n4bzXD.jpg" id="icon"
        alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="fgValidator">
      <input formControlName="username" type="text" id="username" class="fadeIn second" name="login" placeholder="username">
      <div class="warning-validator" *ngIf="fgv.username.errors && (fgv.username.dirty || fgv.username.touched)">
        <strong *ngIf="fgv.username.errors.required">
          This field is required.
        </strong>
        <strong *ngIf="fgv.username.errors.minlength">
          This field must be at least {{document_min_length}} characters long.
        </strong>
      </div>
      <input formControlName="password" type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <div class="warning-validator" *ngIf="fgv.password.errors && (fgv.password.dirty || fgv.password.touched)">
        <strong>
          This field is required.
        </strong>
      </div>
      <input type="button" (click)="LoginUser()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/security/reset-password">Forgot Password?</a>
    </div>

  </div>
</div>